body {
    background-color: #f7f7f7;
    font-family: Verdana, sans-serif;
    font-size:  52px;
    text-align: center;
    color: #262626;
}

#main {
    position: fixed;
    width: 60%;
    left:  50%;
    top:   50%;
    transform:  translate(-50%, -50%);
}

#msg-wrapper {
    position: fixed;
    top:   0;
    left:  0;
    right: 0;
    padding:   50px 20px;
    font-size: 44px;
}

#msg {
    transition: opacity 150ms ease-out;
}

.hidden {
    opacity: 0;
}

button {
    width:   100%;
    margin:  25px 0;
    padding: 25px 0;
    background:    none;
    border-radius: 10px;
    font-family: Verdana, sans-serif;
    font-size:   52px;
    color: #262626;
}

button:focus {
    outline: none;
}

.btn {
    border: 3px solid #999999;
    background-color: #e6e6e6;
}

.btn-in {
    border: 3px solid #262626;
    background-color: #ebeb47;
}

.btn-out {
    border: 3px solid #262626;
    background-color: #1b3a98;
    color: white;
}

.btn-del {
    border: 3px solid #262626;
    background-color: #c3224b;
    color: white;
}

input {
    width:   100%;
    margin:  25px 0;
    padding: 25px 0;
    border:  3px solid #262626;
    border-radius: 10px;
    font-family: Verdana, sans-serif;
    font-size:   52px;
    text-align:  center;
    color: #262626;
    box-sizing:         border-box;
    -moz-box-sizing:    border-box;
    -webkit-box-sizing: border-box;
}

input:focus {
    outline: none;
}

table {
    margin: 20px auto;
    font-family: monospace;
    font-size:   32px;
}

textarea {
    width:   90%;
    margin:  25px 0;
    padding: 25px 0;
    border:  3px solid #262626;
    border-radius: 10px;
    font-family: monospace;
    font-size:   32px;
    color: #262626;
}

td {
    padding: 5px 15px;
}

th {
    padding: 10px 15px;
}

table.log td:last-of-type {
    text-align: left;
}

#pin {
    position: fixed;
    bottom: 20px;
    right:  20px;
    font-family: monospace;
    font-size:   32px;
    text-align:  left;
    color: gray;
}

#pin > table {
    margin: 0;
    text-align: right;
}
